/**
 * Fonts
 */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src:
    url("./assets/fonts/poppins-v20-latin-400.woff2") format("woff2"),
    url("./assets/fonts/poppins-v20-latin-400.woff") format("woff");
}

/**
 * Variables
 */
:root {
  --font-main: "Poppins", Avenir, Helvetica, Arial, sans-serif;

  --emerald-050: #ecfdf5;
  --emerald-100: #d1fae5;
  --emerald-200: #a7f3d0;
  --emerald-300: #6ee7b7;
  --emerald-400: #34d399;
  --emerald-500: #10b981;
  --emerald-600: #059669;
  --emerald-700: #047857;
  --emerald-800: #065f46;
  --emerald-900: #064e3b;

  --teal-050: #f0fdfa;
  --teal-100: #ccfbf1;
  --teal-200: #99f6e4;
  --teal-300: #5eead4;
  --teal-400: #2dd4bf;
  --teal-500: #14b8a6;
  --teal-600: #0d9488;
  --teal-700: #0f766e;
  --teal-800: #115e59;
  --teal-900: #134e4a;

  --white-rich: #fff;
  --white: #f3f3f5;
  --gray-050: #ededf0;
  --gray-100: #e1e1e6;
  --gray-150: #d2d2da;
  --gray-200: #c3c3ce;
  --gray-300: #a4a6b5;
  --gray-400: #86889d;
  --gray-500: #686a84;
  --gray-600: #585a70;
  --gray-650: #515266;
  --gray-700: #494a5c;
  --gray-750: #414253;
  --gray-800: #393a49;
  --gray-850: #31323f;
  --gray-900: #2a2a35;
  --gray-950: #22222b;
  --black: #15151a;
  --black-rich: #000;
}

/**
 * Reset styles.
 */
html {
  box-sizing: border-box;
}

*,:after,:before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

/* Reset margins and paddings on most elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

::selection {
  color: var(--white);
  background: var(--teal-600);
}

a {
  color: var(--teal-600);
  transition:
    color 0.32s,
    outline 0.32s;
  outline: 1px dotted transparent;
}

a:focus,
a:hover {
  color: var(--emerald-500);
}

a:focus-visible {
  outline: 1px dotted currentColor;
}

/* Reset forms and buttons */
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

input,
textarea,
button {
  border: 1px solid gray;
}

button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
}

button * {
  pointer-events: none;
}

/* Easy responsive for media elements */
embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}

/* Useful table styles */
table {
  table-layout: fixed;
  width: 100%;
}

/**
 * Base styles.
 */
body {
  font-family: var(--font-main);
  font-size: 1rem;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  line-height: 1.5;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
